$primary-color: #4751C0;
$secondary-color: #4953BE;
$third-color: #424A9E;
$text-color-white: #FFFFFF;
$text-color-light-orange: #F7A491;
$text-color-dark-orange: #FF7878;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "light-bold": 600,
  "bold": 700,
  "heavy-bold": 900,
);





